.container {
  width: 1280px;
  margin: 0 auto;
}
.title {
  text-align: center;
  color: red;
}
.link {
  text-align: center;
  margin-bottom: 50px;
}
.nav-link {
  padding: 0 5px;
}
.nav-link:hover {
  cursor: pointer;
}
.wrapper {
  width: 100%;
  margin-bottom: 20px;
}
.student-cell, .column {
  text-align: center;
  width: 19.68%;
  border-bottom: 1px solid #ddd;
  padding: 5px 0 5px 0;
}
.student-row:hover {
  cursor: pointer;
}
.chosen-id {
  font-size: 25px;
  font-weight: bold;
  color: red;
}
.table-head .column {
  font-weight: bold;
}
label {
  width: 100px;
  display: inline-block;
}
.form-group {
  padding-bottom: 20px;
}

.form-control {
  width: 480px;
  height: 40px;
  font-size: 18px;
  padding-left: 5px;
}
form {
  width: 50%;
  margin: 0 auto;
}
h2 {
  text-align: center;
}
.selected {
  background-color: #f2dede;
}
.class-menu {
  font-weight: bold;
}
.class-menu .class-name {
  list-style: none;
  font-weight: normal;
}
