<div class="container">
  <!-- class navigation -->
  <div class="col-md-2">
    <ul class="class-menu">Select Class
      <li [class.chosen]="selectedClassName==className" class="class-name" (click)="getClassName(className)" *ngFor="#className of classes">Class {{className}}</li>
    </ul>
  </div>
  <div class="col-md-10">
    <!-- Student Table -->
    <table class="wrapper">
      <thead class = "table-head">
        <td class="column ordinal-number">Ordinal Number</td>
        <td class="column name">Full Name</td>
        <td class="column age">Age</td>
        <td class="column gender">Gender</td>
      </thead>
      <tbody class="table-content">
        <tr [class.selected]="currentStudent?.id == student.id" *ngFor="#student of students | classNameFilter:selectedClassName" class="student-row" (click)="getCurrentStudent(student)" myHighLight>
          <td class="student-cell ordinal-number">{{student.class}}</td>
          <td class="student-cell ordinal-number">{{student.id}}</td>
          <td class="student-cell name">{{student | getFullName }} </td>
          <td class="student-cell age">{{student.age}}</td>
          <td class="student-cell gender">{{student.gender}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- Control -->
<div class="link">
  <student-controller [student]="currentStudent"></student-controller>
</div>
