<div class="container">
  <div>
    <h2>Add new student</h2>
    <form #studentForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="class">Class</label>
        <select name="class">
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
          <option value="D">D</option>
          <option value="E">E</option>
        </select>
      </div>
      <div class="form-group">
        <label for="firstname">First Name</label>
        <input type="text" class="form-control" #newStudent>
      </div>
      <div class="form-group">
        <label for="lastname">Last Name</label>
        <input type="text" class="form-control" >
      </div>
      <div class="form-group">
        <label for="age">Age:</label>
        <input type="text" class="form-control" >
      </div>
      <div class="form-group">
        <label for="gender">Gender:</label>
        <input class="gender-option" type="radio" name="gender" value="male" checked> Male
        <input class="gender-option" type="radio" name="gender" value="female"> Female
        <input class="gender-option" type="radio" name="gender" value="other"> Other
      </div>
      <button type="button" class="btn btn-default" (click)="addNewStudent(newStudent.value)">New Student</button>
    </form>
  </div>
</div>
