<!-- Student Table -->
<table class="wrapper">
  <thead class = "table-head">
    <td class="column class">Class</td>
    <td class="column ordinal-number">Ordinal Number</td>
    <td class="column name">Full Name</td>
    <td class="column age">Age</td>
    <td class="column gender">Gender</td>
  </thead>
  <tbody class="table-content">
    <tr *ngFor="#student of students" class="student-row" (click)="getCurrentStudent(student)">
      <td class="student-cell class">{{student.class}}</td>
      <td class="student-cell ordinal-number">{{student.id}}</td>
      <td class="student-cell name">{{student | getFullName }} </td>
      <td class="student-cell age">{{student.age}}</td>
      <td class="student-cell gender">{{student.gender}}</td>
    </tr>
  </tbody>
</table>
<!-- Control -->
<div class="link">
  <student-controller [student]="currentStudent"></student-controller>
</div>
