<div class="wrapper">
  <div class = "table-head">
    <div class="column class">Class</div>
    <div class="column stt">STT</div>
    <div class="column name">Full Name</div>
    <div class="column age">Age</div>
    <div class="column gender">Gender</div>
  </div>
  <div class="table-content" *ngFor="#student of students">
    <div class="column class">{{student.class}}</div>
    <div class="column stt">{{student.id}}</div>
    <div class="column name">{{student | getFullName }} </div>
    <div class="column age">{{student.age}}</div>
    <div class="column gender">{{student.gender}}</div>
  </div>
</div>

